:root {
  /* //глава */
  --role-846038482534006805: red;
  /* банкир */
  --role-849002756751491093: green;

  /* Рейд-мастер */
  --role-846042760394178580: lightblue;

  /* Элитный воин */
  --role-846043017109569537: orange;

  /* Воин */
  --role-846043653755502642: purple;

  /* Рекрут */
  --role-846043823825879050: lightgreen;
  /* советник */
  --role-846039423966511134: rgb(246, 113, 113);
}
